name: build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4.0.0
        with:
          dotnet-version: 8.0.x
          
      - name: Restore dependencies
        run: dotnet restore
        
      - name: Build
        run: dotnet build --no-restore

      - name: Publish
        run: dotnet publish ./Restaurants.API/Restaurants.API.csproj -c Release -o ./publish_output

      - name: Create ZIP artifact
        run: |
          cd ./publish_output
          zip -r ../dotnet-app.zip ./*
          cd ..

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-app
          path: dotnet-app.zip