name: deploy

on:
  workflow_call:
    secrets:
      AZURE_RBAC_CREDENTIALS:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: publish_output
          path: ./publish_output

      - name: Check artifact
        run: ls -l ./publish_output

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_RBAC_CREDENTIALS }}

      - name: Create Resource Group if not exists
        run: |
          az group create \
            --name MyResourceGroup1 \
            --location westeurope

      - name: Deploy Bicep
        run: |
          az deployment group create \
            --name RestaurantsDeployment \
            --resource-group MyResourceGroup1 \
            --template-file ./bicep/main.bicep \
            --parameters sqlAdministratorLogin="adminuser" \
                        sqlAdministratorPassword="MyP@ssw0rd!" \
                        location="westeurope"

      - name: Get WebApp Name
        run: |
          echo "Retrieving web app name..."
          WEBAPP_NAME=$(az webapp list --resource-group "MyResourceGroup1" --query "[0].name" -o tsv)
          echo "WEBAPP_NAME=$WEBAPP_NAME" >> $GITHUB_ENV
          echo "Deploying to $WEBAPP_NAME"

      - name: Create ZIP for Deployment
        run: |
          cd ./publish_output
          zip -r ../deploy.zip ./*
          cd ..

      - name: Deploy to Azure Web App
        run: |
          az webapp deploy --resource-group MyResourceGroup1 \
                          --name $WEBAPP_NAME \
                          --src-path ./deploy.zip \
                          --type zip
