name: deploy

on:
  workflow_call:
    secrets:
      AZURE_RBAC_CREDENTIALS:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: app-artifact         
          path: ./publish_output     

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_RBAC_CREDENTIALS }}
          

      - name: Deploy Bicep
        run: |
          az deployment group create \
            --name RestaurantsDeployment \
            --template-file ./bicep/main.bicep \
            --parameters sqlAdministratorLogin="adminuser" \
                         sqlAdministratorPassword="MyP@ssw0rd!" \
                         location="westeurope"

      - name: Deploy to Azure WebApp
        uses: azure/webapps-deploy@v2
        with:
          app-name: RestaurantApp
          package: './publish_output'
          publish-profile: ${{ secrets.AZURE_RBAC_CREDENTIALS }}

