name: restaurants-api-ci

on:
  push:
    branches: 
      - main
  workflow_dispatch:

jobs:
  build:
    uses: tmeijerdev/restaurants.API/.github/workflows/build.yaml@main

  deploy:
    needs: build
    uses: tmeijerdev/restaurants.API/.github/workflows/deploy.yaml@main
    secrets:
      AZURE_RBAC_CREDENTIALS: ${{ secrets.AZURE_RBAC_CREDENTIALS }}
