name: restaurants-api-ci

on:
  push:
    branches: 
      - main
  workflow_dispatch:

jobs:
  build:
    uses: tmeijerdev/restaurants.API.github/workflows/build.yml@main

  # deploy:
  #   needs: build
  #   uses: ./.github/workflows/deploy.yml
